<app-header *ngIf="showHeader" />

<main class="min-h-screen">
    <!-- Afficher l'écran de chargement uniquement lors de la navigation -->
    <div *ngIf="isLoading" class="fixed inset-0 flex items-center justify-center bg-white z-50">
        <div class="flex flex-col items-center">
            <div class="w-12 h-12 border-4 border-gray-300 border-t-blue-500 rounded-full animate-spin"></div>
            <p class="mt-4 text-gray-600 text-lg font-semibold">Loading...</p>
        </div>
    </div>

    <!-- Afficher le contenu réel uniquement lorsque le chargement est effectué -->
    <div *ngIf="!isLoading">
        <router-outlet />
    </div>
</main>

<app-footer *ngIf="!isLoading"/>
