.calendar-container {
  text-align: center;
  padding: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

h2 {
  font-size: 24px;
}

table.calendar {
  width: 100%;
  border-collapse: collapse;
}

th {
  padding: 10px;
  background-color: #f0f0f0;
}

td {
  padding: 10px;
  width: 14.28%;
  text-align: center;
  vertical-align: top;
  cursor: pointer;
}

.day {
  align-content: center;
  height: 5vh;
  position: relative;
}

/* Style pour le jour actuel */
.current-day {
  border: 2px solid #007bff; /* Bordure bleue */
  background-color: #eaf4ff; /* Fond bleu clair */
  color: #007bff; /* Texte bleu */
  font-weight: bold; /* Texte en gras */
}

/* Effet au survol des jours */
.day:hover {
  background-color: #f5f5f5;
  transition: background-color 0.3s ease;
}

.today {
  border: 2px solid #007bff; /* Bord bleu pour le jour actuel */
  background-color: #d8eaff; /* Bleu clair */
  font-weight: bold;
}

/* Types d'absences */
.rtt-employeur {
  background-color: #ffc107; /* Jaune */
}

.rtt-employe {
  background-color: #17a2b8; /* Bleu clair */
}

.conge-paye {
  background-color: #28a745; /* Vert */
}

.conge-sans-solde {
  background-color: #dc3545; /* Rouge */
}

.autre {
  background-color: #6c757d; /* Gris */
}

/* Label pour l'absence */
.absence-label {
  position: absolute;
  bottom: 5px;
  left: 5px;
  font-size: 12px;
  color: white;
  font-weight: bold;
}

/* Bouton */
button {
  width: 9rem;
  padding: 8px 12px;
  font-size: 16px;
  border: 1px solid #007bff;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}

/* Legende */
.legend {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 20px;
}

.legend-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.legend-item div {
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
}

.color-box {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
