<footer class="text-slate-950 p-4 border-t-2">
    <div class="flex justify-between items-center">
        <!-- Section gauche : Logo -->
        <div class="logo">
            <a href="">
                <img src="assets/logo.png" alt="Logo" class="h-16 w-auto">
            </a>
        </div>

        <!-- Section droite : Contact/Liens -->
        <div class="flex space-x-32">
            <div class="flex flex-col space-y-4">
                <h6 class="font-bold">Contact</h6>
                <span class="text-sm">01.02.03.04.05</span>
                <span class="text-sm">easyleaves&#64;el.com</span>
            </div>

            <nav class="flex flex-col space-y-4">
                <h6 class="font-bold">Informations</h6>
                <a href="#" class="hover:underline text-sm">Politique de confidentialité</a>
                <a href="#" class="hover:underline text-sm">Mentions légales</a>
            </nav>
        </div>
    </div>
</footer>